.grid-container {
    display: grid;
    grid-template-areas: "header header header"
                            "main main main"
                            "footer footer footer"
}

.grid-header {
    grid-area: header;
    grid-template-areas: "logo menu botones";
    z-index: 2;
}

.grid-main {
    grid-area: main;
}

.grid-footer {
    grid-area: footer;
}