%banners {
    position: relative;
    height: 25vh;
    width: 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: local;
    margin-top: 30px;
    margin-bottom: 5px;
}